<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>IMMERSE LEARNING PLATFORM</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                        ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam fermentum lorem, ultricies euismod nisi venenatis quis. Morbi ac consequat nulla. Sed lacinia vestibulum pellentesque. Vestibulum sit amet turpis laoreet, porta tortor non, tempor ligula. Praesent molestie nisi quis elit tincidunt pharetra. Nunc pellentesque a nunc ac sagittis. Morbi condimentum nunc eget nisi ullamcorper, eget convallis lorem accumsan. Integer laoreet felis nec justo feugiat, eget accumsan ex varius. Aliquam mattis, justo id vulputate commodo, quam urna pretium metus, et rutrum odio augue vel orci. In eleifend velit sed condimentum maximus.
    </p>
</md-bottom-sheet>