<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>Top of the bottles</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                       ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        Website to display my collection of bottle caps.

    </p>

    <p>
        Tech stack: Polymer, JavaScript.
    </p>
</md-bottom-sheet>