<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>IMMERSE LEARNING PLATFORM</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                       ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        The Immerse platform is a 3D game that we sell to businesses to do their training and meetings. The game is
        programmed in Unity and wrapped in an AnguarJS application which loads the game as well as providing
        additional functionality for sharing documents and partaking in group exercises.

    </p>

    <p>
        My responsibilities have included:
    </p>
    <ul>
        <li>
            Leading the development of the websocket multiplayer server in Golang.
        </li>
        <li>
            Developing the AngularJS application in ES6.
        </li>
        <li>
            Writing the backend in Node.js.
        </li>
        <li>
            Introduced the WebRTC voice solution that is used to get real time communication.
        </li>
    </ul>

</md-bottom-sheet>