<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>DRAWBUZZ</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                       ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam fermentum lorem, ultricies euismod nisi venena
    </p>
</md-bottom-sheet>