<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>DRAWBUZZ</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                       ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        Application for collaborative drawing and talking.
        Techstack: WebRTC, AngularJS (my first experiment with angular), Python with Google Appengine.
    </p>
</md-bottom-sheet>