<md-bottom-sheet class="infoSheet">
    <div layout="row">
        <h3 class="md-subhead" flex>COLORCRUMBLE</h3>

        <div flex layout="column" layout-align="center end">

            <md-button title="Launch Google.com in new window"
                       target="_blank"
                       aria-label="Google.com"
                       class="md-icon-button launch"
                       ng-click="workInfoCtrl.closeInfo()">
                x
            </md-button>
        </div>
    </div>
    <p>
        Color crumble is a game to make learning addictive. It is targeted at young children to help them learn
        addition. My thought process revolves around basing every decision on what will make the game more fun,
        addictive and engaging rather than what will make the child learn more. The idea being that children will play
        the game for longer, have more fun and by proxy learn more.
    </p>

    <p>
        In its current form the animations are laggy and there are quite a few bugs however I am currently working on re
        writing it with WebGL.
    </p>

    <p>
        Current techstack: JavaScript and CSS animations.
    </p>

    <p>
        Soon to be released stack: WebGL.
    </p>


</md-bottom-sheet>